// Branding header

.header,
%header {
  width: 100%;
}

.header-bottom,
%header-bottom {
  background-image: url(https://picsum.photos/id/291/1800/700);
  background-position: top left;
  background-size: cover;
  background-color: #555555;
  background-repeat: no-repeat;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  @include respond-to(s) {
    display: flex;
  }

  // Wrapping link for logo.
  &__logo {
    margin: 0 $zen-gutters 0 0;

    @include rtl() {
      margin: 0 0 0 $zen-gutters;
    }
  }

  // Logo image.
  &__logo-image {
    vertical-align: bottom;
  }

  // The name of the website.
  &__site-name {
    @extend %h1;
    margin: 0;
    display: inline-block;
  }

  // The link around the name of the website.
  &__site-link {
    &:link,
    &:visited {
      color: $text;
      text-decoration: none;
    }

    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }

  &__slogan {
    color: white;
    text-align: center;
  }
  // Wrapper for any blocks placed in the header region.
  &__region {
    @include respond-to(s) {
      margin-left: auto;

      @include rtl() {
        margin-right: auto;
        margin-left: 0;
      }
    }
  }

  p.header__slogan {
    color: white;
    text-align: center;
  }
}
