<article class="{{ with .Section }}section-{{ . | urlize }} {{ end }}list-view">
        {{ $title := .Title }}
    {{ with .Params.image }}
        {{ $imageResource := ($.Site.GetPage "section" "uploads").Resources.GetMatch (strings.TrimPrefix "/uploads/" . ) }}
        {{ $resized := $imageResource.Fill "600x300" }}
        <img class="summary-image" alt="{{ $title }}" src="{{ $resized.RelPermalink }}"/>
    {{ end }}
<header>
<h2 class="title {{ if $.Param "submitted" | default false }}title-submitted{{ end }}"><a href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
{{ if $.Param "submitted" | default false }}{{ partial "submitted.html" . -}}{{ end }}
</header>
<div class="content">
{{ .Summary }}
</div>
</article>
