.posts-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
  grid-gap: 2rem;

  article {
    border: 1px solid lightgray;
    border-radius: 0.25rem;

    img.summary-image {
      width: 100%;
    }

    header, .content {
      padding: 0 0.4rem 0 0.4rem;
    }
  }
}
