{{ $headless := .Site.GetPage "/featured" }}
{{ $reusablePages := $headless.Resources.ByType "page" }}
<div class="related">
    {{ range $reusablePages }}
        {{ $title := .Title }}
        <div class="related-tile">
            {{ with .Params.image }}
                {{ $imageResource := ($.Site.GetPage "section" "uploads").Resources.GetMatch (strings.TrimPrefix "/uploads/" . ) }}
                {{ $resized := $imageResource.Fill "200x200" }}
                <img class="highlight-image" alt="{{ $title }}" src="{{ $resized.RelPermalink }}"/>
            {{ end }}
            <div class="related-description">
                <div class="related-description-heading">{{ .Title }}</div>
                <p>{{ .Content }}</p>
            </div>
        </div>
    {{ end }}
</div>
