<header class="header layout__header">
    <div class="header-top">
        {{ if $.Param "topbar" | default true}}
            <div class="topbar-inner">
                <div class="social-links topbar__region">
                    {{ partial "social-links.html" . }}
                </div>
                <div class="navs topbar__region">
                    <a href="#navigation" class="mobile-nav__toggle" aria-haspopup="true"
                       role="button">{{ i18n "menu_mobile" }}</a>
                    {{ if .Site.IsMultiLingual }}{{ partial "language-selector.html" . }}{{ end -}}
                </div>
            </div>
        {{ end }}
    </div>
    <div class="header-bottom">
        {{ if $.Param "logo" | default true }}<a href="{{ "/" | relLangURL }}" title="Home" rel="home"
                                                 class="header__logo"><img
                    src="{{ $.Param "logo_path" | relURL }}" alt="Home" class="header__logo-image"></a>{{ end }}
        {{ if $.Param "header_site_name"}}
            <h1 class="header__site-name">
                <a href="{{ "/" | relLangURL }}" title="Home" class="header__site-link"
                   rel="home"><span>{{ .Site.Title }}</span></a>
            </h1>
        {{ end }}
        <p class="header__slogan">
            {{ i18n "header_slogan" | safeHTML }}
        </p>
        {{ partial "header_action_links.html" . }}
    </div>
</header>
