<header class="header layout__header">
    {{ if $.Param "logo" | default true }}<a href="{{ "/" | relLangURL }}" title="Home" rel="home" class="header__logo"><img
                src="{{ $.Param "logo_path" | relURL }}" alt="Home" class="header__logo-image"></a>{{ end }}
    {{ if $.Param "header_site_name"}}
    <h1 class="header__site-name">
        <a href="{{ "/" | relLangURL }}" title="Home" class="header__site-link"
           rel="home"><span>{{ .Site.Title }}</span></a>
    </h1>
    {{ end }}
    {{ if $.Param "slogan" }}
        <p class="header__slogan">
            {{ $.Param "slogan" }}
        </p>
    {{ end }}
    {{ if $.Param "header_action_links"}}
        <div class="header__action-links">
            {{ with $.Site.Data.site_header_links }}
                {{ range . }}
                <a class="button" href="{{ .url }}">{{ .text }}</a>
                {{ end }}
            {{ end }}
        </div>
    {{ end }}
</header>
